/* index.html */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
    
}

.topbar {
    width: 97%;
    height: 70px;
    background-color: #2563eb;
    justify-content: center;
    display: flex;
    align-items: center;       
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 15px ;
    border-radius: 12px;
    
}

.brand {
    text-align: center;
}

.top-tagline {
    color: white;
}

.tagline {
    margin-top: 50px;
    font-size: 14px;
    opacity: 0.9;
}

.topbar h1 {
    margin: 15px;
    color: white;
    font-size: 28px;
    font-weight: 600px;
    letter-spacing: 1px;
}


.container {
    margin-top: 80px;
}

.tagline {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.mode-buttons button {
    padding: 10px 18px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.mode-buttons button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/*mode select container*/
.mode-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.mode-card {
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: 0.3s ease;
}

.mode-card:hover {
    transform: translateY(-5px);
}

.mode-card h3 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

.mode-card p {
    font-size: 14px;
    color: #555;
}




/* lesson-selct.html */

.lesson-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.lesson-card {
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: 0.3s ease;
}

.lesson-card:hover {
    transform: translateY(-5px);
}

.lesson-card h3 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

.lesson-card p {
    font-size: 14px;
    color: #555;
}

